<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--    <title>Contact</title>-->
<!--    <link rel="icon" type="image/x-icon" href="images/favicon.ico">-->
<!--    <link rel="stylesheet" href="css/style.css" />-->
<!--</head>-->
<!--<body>-->

<!--<div class="container header">-->
<!--    <nav class="nav">-->
<!--        <a routerLink="" class="nav-link">Home</a>-->
<!--        <a routerLink="hobbies" class="nav-link">Hobbies</a>-->
<!--        <a routerLink="contact" class="nav-link current">Contact</a>-->
<!--    </nav>-->
<!--</div>-->

<div class="container">
    <section class="card">
        <h2>Contact Information</h2>
        <p>You can reach me through the following channels:</p>
        <ul class="contact-list">
            <li><strong>Email:</strong>
                <a href="mailto:sheng000.ms@gmail.com">sheng000.ms&#64;gmail.com</a>
            </li>
            <li><strong>GitHub:</strong>
                <a href="https://github.com/sawms292" target="_blank">github.com/sawms292</a>
            </li>
        </ul>
    </section>

    <section class="card">
        <h2>References</h2>
        <div class="reference-sv">
            <p>
                <strong>Assoc. Prof. Ts. Wan Hussain Bin Wan Ishak</strong><br>
                Final Year Project Supervisor<br>
                College of Arts and Sciences, Universiti Utara Malaysia (UUM)<br>
                <a href="mailto:hussain@uum.edu.my">hussain&#64;uum.edu.my</a><br>
                Phone: +604-928 5198
            </p>
        </div>
    </section>
</div>


<div class="container">
    <section class="card">
        <h2>Contact Information</h2>
        <p>You can reach me through the following channels:</p>
        <ul class="contact-list">
            <li><strong>Email:</strong> <a href="mailto:sheng000.ms@gmail.com">sheng000.ms&#64;gmail.com</a></li>
            <li><strong>GitHub:</strong> <a href="https://github.com/sawms292" target="_blank">github.com/sawms292</a></li>
        </ul>
    </section>

    <section class="card">
        <h2>References</h2>
        <div class="reference-sv">
            <p><strong>Assoc. Prof. Ts. Wan Hussain Bin Wan Ishak</strong><br>
                Final Year Project Supervisor<br>
                College of Arts and Sciences, Universiti Utara Malaysia (UUM)<br>
                <a href="mailto:hussain@uum.edu.my">hussain&#64;uum.edu.my</a><br>
                Phone: +604-928 5198
            </p>
        </div>
    </section>

</div>

<!--</body>-->
</html>
