<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--    <title>Hobbies</title>-->
<!--    <link rel="icon" type="image/x-icon" href="images/favicon.ico">-->
<!--    <link rel="stylesheet" href="css/style.css" />-->
<!--</head>-->
<!--<body>-->
<!--<div class="container header">-->
<!--    <nav class="nav">-->
<!--        <a routerLink="" class="nav-link">Home</a>-->
<!--        <a routerLink="hobbies" class="nav-link current">Hobbies</a>-->
<!--        <a routerLink="contact" class="nav-link">Contact</a>-->
<!--    </nav>-->
<!--</div>-->

<div class="container">
    <h2>What I Enjoy</h2>
    <p>A few things I like to do in my free time.</p>

    <section class="row">
        <div class="card">
            <h3>🎮 Gaming</h3>
            <p>Playing team-based games like CS:GO and Dota with friends in my free time.</p>
        </div>

        <div class="card">
            <h3>🎧 Music</h3>
            <p>Listening to different music genres to relax and focus.</p>
        </div>

        <div class="card">
            <h3>💻 Learning</h3>
            <p>I often explore new programming tools and technologies to keep improving my skills.</p>
        </div>
    </section>
</div>
<!--</body>-->
</html>
