<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1" />-->
<!--    <title>Home</title>-->
<!--    <link rel="icon" type="image/x-icon" href="images/favicon.ico">-->
<!--    <link rel="stylesheet" href="src/styles.css" />-->
<!--</head>-->
<!--<body>-->
<!--<div class="container header">-->
<!--    <nav class="nav">-->
<!--        <a routerLink="" class="nav-link current">Home</a>-->
<!--        <a routerLink="hobbies" class="nav-link">Hobbies</a>-->
<!--        <a routerLink="contact" class="nav-link">Contact</a>-->
<!--    </nav>-->
<!--</div>-->

<div class="container">
    <section class="profile card">
        <div class="profile-inner">
            <img src="assets/images/profile.jpg" alt="Profile photo of Ming Sheng" class="avatar" />
            <div>
                <h2>Hello! I’m Ming Sheng 👋</h2>
            </div>
        </div>
    </section>

    <section class="grid-2">
        <div class="card">
            <h3>Education</h3>
            <ul>
                <li><strong>Kolej Tingkatan Enam Sri Istana</strong><br> - STPM (2019-2021)</li><br>
                <li><strong>Universiti Utara Malaysia</strong><br> - Bachelor of Science with Honours<br> (Information Technology)<br> (2023–Present)</li>
            </ul>
        </div>

        <div class="card">
            <h3>Skills</h3>
            <div class="skill-group">
                <h4>Front-End</h4>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </div>

            <div class="skill-group">
                <h4>Back-End</h4>
                <ul>
                    <li>Java</li>
                    <li>Java</li>
                    <li>PHP</li>
                </ul>
            </div>

            <div class="skill-group">
                <h4>Tools</h4>
                <ul>
                    <li>Git & GitHub</li>
                    <li>Docker</li>
                    <li>Postman</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="card">
        <h3>Final Year Project: WebCrawler</h3>
        <p>
            A java application that automatically text extraction from websites
        </p>
        <ul>
            <li>Simple, user-friendly interface for easy setup and use</li>
            <li>Error handling to manage broken links or website changes.</li>
            <li>Integrated database to store extracted data</li>
            <li>Webpage login for checking extraction result</li>
        </ul>
    </div>
</div>

<!--</body>-->
</html>
